body{
  color: deeppink;
  text-align: center;
}

#container{
  border: solid 2px silver;
  margin: 0% auto;
  width: 40%;
}

#cabecera{
  background-color: skyblue;
  font-size: 2em;
  box-shadow: -8px 5px 15px 3px #92B561;
  padding: 10px;
}
